/*////////////////////////////////////////////////////////////////*/

                            /*BALISES*/

/*////////////////////////////////////////////////////////////////*/
body{
    background-color: black;
    font-family: 'Oswald', sans-serif;
    color: white ;
    font-size: 1.1em;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:200px
}

h1{
    font-size: 4em;
}

h2{
    font-size: 2.5em;
}

h4{
    font-size: 1.5em;
}


a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

a:hover{
    opacity: 0.6;
}

p{
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
}

form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 0px;
}

input{
    width: 200px;
    height: 40px;
    border: 1px black solid;
    border-radius: 10px;
}

textarea{
    width: 500px;
    margin: auto;
    border: 1px black solid;
    border-radius: 10px;

}

button{
    border: 1px white solid;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    margin: auto;
}

button:hover{
    opacity: 0.6;
}



nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
}

nav div{
    display: flex;
    gap:20px;
}


footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

span{
    text-decoration: underline;
}



/*////////////////////////////////////////////////////////////////*/

                            /*CLASSES et ID*/

/*////////////////////////////////////////////////////////////////*/
#presentationAdrien + p{
    padding-left: 50px;
    margin-left: 200px;
    border-left: solid 2px white;
    font-size: larger;
}



.nomEtMail{
    display: flex;
    justify-content: space-around;
    gap: 30px;    
}


#presentationDuDev, #mesProjets, #mesCompetences {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#presentationDuDev p{
    text-align: justify;
}

#mesProjets a:hover{
   text-decoration: underline;
}

#presentationAdrien a:hover{
    text-decoration: underline;
}

#presentationAdrien span{
    color: orange;
    text-decoration: none;
}

.erreurSaisie{
    border: solid 2px red;
    background-color: darksalmon;
}

.titreProjetLogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.illustrationsAnimeesProjets{
    display: flex;
    flex-direction: column;
}

.illustrationsAnimeesProjets img{
    width: 1000px;
    height: 1000px;
}

#listeProjets{
margin-top: 0px;
}


/*////////////////////////////////////////////////////////////////*/

                            /*ANIMATIONS*/

/*////////////////////////////////////////////////////////////////*/

#imgCompe{
    width:40% ;
    height:20%;
    position: relative;
    animation: illustration2 2s ease-in-out infinite;
}

@keyframes illustration2 {
    0% {
      top: 0;
    }
    50% {
        top: 20px;
    }
    100% {
      top: 0;
    }
  }


#imgProjet, #imgQuiSuije{
    width: 30%;
    height: 20%;
    position: relative;
    animation: illustration 2s ease-in-out infinite;
}

@keyframes illustration {
    0% {
      right: 0;
    }
    50% {
        right: 20px;
    }
    100% {
      right: 0;
    }
  }


.box {
    position: relative;
    animation: moveRight 1s ease-in-out infinite;
    border: 1px white solid;
    border-radius: 20px;
    padding: 10px;
  }
  
  @keyframes moveRight {
    0% {
      top: 0;
    }
    50% {
      top: 10px;
    }
    100% {
      top: 0;
    }
  }

/*////////////////////////////////////////////////////////////////*/

                            /*MEDIA QUERIES*/

/*////////////////////////////////////////////////////////////////*/
@media only screen and (max-width: 767px) {
    h1,h2,h3,h4,p{
        text-align: center;
        overflow: hidden;
        
    }
}
 
  
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
  }
  
 
  