/*////////////////////////////////////////////////////////////////*/

                            /*BALISES*/

/*////////////////////////////////////////////////////////////////*/
body{
    background-color: black;
    font-family: 'Oswald', sans-serif;
    color: white ;
    font-size: 1.1em;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:200px
}

h1{
    font-size: 4em;
}

h2{
    font-size: 2.5em;
}

h4{
    font-size: 1.5em;
}


a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

a:hover{
    opacity: 0.6;
}

p{
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding-bottom: 50%;
}

form input{

}

button{
    border: 1px white solid;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
}

nav div{
    display: flex;
    gap:20px;
}


footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

span{
    text-decoration: underline;
}




/*////////////////////////////////////////////////////////////////*/

                            /*CLASSES et ID*/

/*////////////////////////////////////////////////////////////////*/


#presentationDuDev, #mesProjets, #mesCompetences {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#presentationDuDev p{
    text-align: justify;
}

/*////////////////////////////////////////////////////////////////*/

                            /*ANIMATIONS*/

/*////////////////////////////////////////////////////////////////*/

#imgCompe{
    width:40% ;
    height:20%;
    position: relative;
    animation: illustration2 2s ease-in-out infinite;
}

@keyframes illustration2 {
    0% {
      top: 0;
    }
    50% {
        top: 20px;
    }
    100% {
      top: 0;
    }
  }


#imgProjet, #imgQuiSuije{
    width: 30%;
    height: 20%;
    position: relative;
    animation: illustration 2s ease-in-out infinite;
}

@keyframes illustration {
    0% {
      right: 0;
    }
    50% {
        right: 20px;
    }
    100% {
      right: 0;
    }
  }


.box {
    position: relative;
    animation: moveRight 1s ease-in-out infinite;
    border: 1px white solid;
    border-radius: 20px;
    padding: 10px;
  }
  
  @keyframes moveRight {
    0% {
      top: 0;
    }
    50% {
      top: 10px;
    }
    100% {
      top: 0;
    }
  }


  
